footer{
    position: relative;
    height: 43.75rem;
    margin-top: -0.25rem;

    @include atLarge{
        height: auto;
    }
}

.footer{
    
    &__container{
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        @extend .container;
        transform: translate(-50%,-50%);
        display: flex;
        text-align: center;
        z-index: 1000;

        @include atLarge{
            flex-wrap: nowrap;
        }
    }

    &__newlestter{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__location{
        margin-top: 3.125rem;

        @include atLarge{
            margin-top: 0;
        }
    }

    &__social{
        margin-top: 3.125rem;
        
        @include atLarge{
            margin-top: 0;
        }
    }

    &__title{
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: #ffffff;
        margin-bottom: 2.8125rem;

        &--updates{
            font-family: 'Sacramento', cursive;
            font-size: 2rem;
            width: 100%;
            margin: 0;
            margin-bottom: 1.75rem;
        }
    }

    &__text{
        font-family: 'Muli', sans-serif;
        font-size: 0.875rem;
        color: #ffffff;
        margin: 0;
        margin-bottom: 0.25rem;
    }

    &__newlestter-email{
        /* Contact form uses a page specific font style which is different than the default font style defined for all pages */
        font-size: 0.875rem;
        color: #1c1c1c;
        background: rgba(255, 255, 255, 0.5);
        border: none;
        width: 80%;
        padding: 0.875rem 1.25rem;

        @include atMedium{
            width: 75%;
        }

        @include atLarge{
            width: 15.625rem;
            height: 0.5rem;
        }

        @include atExtraLarge{
            width: 20.1875rem;
            padding: 0.9375rem 1.625rem;
        }

        /* Style the require fields of your form differently (e.g., style required fields in red color, or add a red start beside the required field names.) */
        &--required {
            color: $redWine;
            background: rgba(255, 255, 255, 0.9);
        }
    }

    &__social-icon{
        display: inline-block;
        height: 1.875rem;
        width: 1.875rem;
        font-size: 1.875rem;
        position: relative;
        top: -0.9375rem;
        padding: 0.9375rem;
        border-radius: 50%;
        transition: all .3s ease;

        &:hover{
            &.facebook{ background: $facebook; }
            &.twitter{ background: $twitter; }
            &.instagram{ background: $instagram; }
            &.youtube{ background: $youtube; }
        }
    }
}