a {
    text-decoration: none;
    color: #fff;
}

p {
    font-family: 'Arapey', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Attribute selector is used. */
input[type="email"] {
    border: none;
}