.header {
    width: 100%;
    height: 100%;
    /* It's better if we use vh instead of percentage, since it adjust to a real banner for 
    a display screen to draw the attention*/
    height: 100vh !important;
    min-height: 27.5rem;

    @include atSmall {
        min-height: 100vh;
    }

    @include atMedium {
        min-height: 40.625rem;
    }

    @include atLarge {
        min-height: 43.75rem;
    }

    /* When scrolling, the content of this area should move up and down without affecting the page header and footer */
    &__navigation {
        position: fixed;
        width: 100%;
        padding: 1.875rem 0;
        z-index: 5000;

        @include atMedium {
            padding: 1.25rem 0;
        }

        &--scrolled {
            background: #000;
            padding: 0.625rem 0;

            @include atMedium {
                padding: 0;
            }
        }
    }

    &__menu {
        position: fixed;
        left: -100%;
        top: 0;
        width: 80%;
        height: 100vh;
        padding: 3.125rem 0;
        background: black;
        z-index: 8000;
        transition: all .3s ease;

        @include atSmall {
            width: 30%;
        }

        /* Use Flex layout to set your menu items horizontally. */
        @include atMedium {
            display: flex;
            position: static;
            width: 80%;
            height: auto;
            background: none;
            padding: 0;
        }

        @include atLarge {
            width: 75%;
        }

        @include atExtraLarge {
            width: 70%;
        }

        &--is-toggled {
            left: 0;
        }
        
        ol {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            @include atMedium {
                flex-wrap: nowrap;
            }

            li {
                width: 100%;
                padding: 0.625rem 0;

                &.linked {
                    background: rgba(97,97,97,0.7);
                }

                &.active {
                    background: rgba(255,255,255,0.4);
                }
            }
        }
    }

    &__menu-item {
        font-family: 'Muli', sans-serif;
        font-size: 0.875rem;
        color: #ffffff;
        padding: 0.625rem 1.4375rem;
        transition: all .3s ease;

        /* Pseudo class selector is used.*/
        &:hover {
            background: rgba(255,255,255,0.8);
            color: $mainBlack;
        }
    }

    /* The text layer and image layer are located at the same position. */
    &__banner {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-40%);
        width: 100%;
        font-family: 'Sacramento', cursive;
        text-align: center;
        color: #ffffff;
        z-index: 100;

        @include atExtraSmall {
            &--is-hidden {
                z-index: -1;
            }
        }
        
        @include atSmall {
            transform: translateY(-55%);

        }

        @include atMedium {
            transform: translateY(-40%);
        }
    }

    &__title {
        font-size: 3.125rem;
        margin-bottom: 1.75rem;

        @include atSmall {
            font-size: 3.375rem;
            margin-bottom: 1.75rem;
        }

        @include atMedium {
            font-size: 6.625rem;
            margin-bottom: 1.75rem;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: 3.75rem;

        @include atSmall {
            font-size: 1.625rem;
            margin-bottom: 2.375rem;
        }

        @include atMedium {
            font-size: 1.875rem;
            margin-bottom: 5.625rem;
        }
    }
    
    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__logo {
        margin-left: 1.875rem;

        @include atMedium {
            width: 20%;
            margin: 0;
        }

        @include atLarge {
            width: 25%;
        }

        @include atExtraLarge {
            width: 30%;
        }
    }

    &__icon {
        display: block;
        font-size: 1rem;
        color: #ffffff;

        @include atMedium {
            display: none;
        }
    }

    &__menu-exit{
        display: none;
        
        &--is-visible{
            display: block;
            position: absolute;
            right: 0;
            margin-right: 2rem;
            margin-top: -0.8rem;
        }
    }   
}