.border {

    &--horizontal {
        height: 2px;
        width: 100px;

        &.border--small { width: 80%; }
        &.border--medium { width: 90%; }
        &.border--large { width: 100%; }
    }

    &--vertical {
        height: auto;
        width: 1px;

        &.border--small{ height: 80px; }
        &.border--medium{ height: 90px; }
        &.border--large{ height: 100px; }
    }
}