.btn {
    font-family: Arapey,sans-serif;
    font-size: 1rem;
    background: #fff;
    color: #000;
    cursor: pointer;
    padding: .625rem 3.125rem;
    transition: all .3s ease;

    &--transparent {
        background: none;
    }

    &--border-white {
        color: #fff;
        border: 1px solid #ffffff;

        &:hover{
            background: rgba(255,255,255,0.8);
            color: #1c1c1c;
        }
    }
    
    &--newlestter{
        /* Contact form uses a page specific font style which is different than the default font style defined for all pages*/
        font-family: 'Sacramento', cursive;
        font-size: 1rem;
        color: #ffffff;
        background: #F0932B;
        border: none;
        margin-top: 1.25rem;
        min-height: 1.125rem;
        min-width: 8.125rem;
        
        @include atExtraLarge{
            min-width: 9.75rem;
            min-height: 2.75rem;
        }   
    }

    &--contact {
        border: none;
        padding: 0.625rem 1.5625rem;
        color: #fff;
        background: $redWine;
    }
}