.header {
    width: 100%;
    height: 100vh;
    min-height: 440px;

    @include atSmall {
        min-height: 100vh;
    }

    @include atMedium {
        min-height: 650px;
    }

    @include atLarge {
        min-height: 700px;
    }

    &__navigation {
        position: fixed;
        width: 100%;
        padding-top: 60px;
    }

    &__menu {
        display: flex;
        
        ol {
            display: flex;
            list-style: none;
        }
    }

    &__menu-item {
        font-family: 'Muli', sans-serif;
        font-size: 14px;
        color: #ffffff;
        padding: 10px 23px;
        transition: all .3s ease;

        &:hover {
            background: rgba(255,255,255,0.8);
            color: #1c1c1c;
        }
    }

    &__banner {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-40%);
        width: 100%;
        font-family: 'Sacramento', cursive;
        text-align: center;
        color: #ffffff;
        z-index: 100;

        @include atSmall {
            transform: translateY(-55%);
        }

        @include atMedium {
            transform: translateY(-40%);
        }
    }

    &__title {
        font-size: 3.125rem;
        margin-bottom: 1.75rem;

        @include atSmall {
            font-size: 3.375rem;
            margin-bottom: 1.75rem;
        }

        @include atMedium {
            font-size: 6.625rem;
            margin-bottom: 1.75rem;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-bottom: 3.75rem;

        @include atSmall {
            font-size: 1.625rem;
            margin-bottom: 2.375rem;
        }

        @include atMedium {
            font-size: 1.875rem;
            margin-bottom: 5.625rem;
        }
    }
    
    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}