.table {
    border-collapse: collapse;
    border: 1px solid $mainBlack;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    th, td {
        text-align: left;
        padding: 8px;
    }

    /* Striped table format is created using CSS properties */
    &--stripped {
        tr:nth-child(odd){
            background: rgba(#dfe6e9,0.4);
        }

        tr:nth-child(even) {
            background: rgba(#b2bec3,0.4);
        }
    }
}